<div class="container-wrapper">
    <div class="dialog-header">
        <img src="assets/imgs/logo-for-survey-dialog.png" alt="">
        <h1>{{title}}</h1>
    </div>
    <div class="container-content">
        <p>{{message}}</p>
        <p>{{description}}</p>
        <p>{{descriptionDetail}}</p>
        <hr>
    </div>

    <div class="container-btn">

        <div class="container-btn">

            <button [disabled]="btnLeftDisable" (click)="onDismiss()" class="btn-cancel">
                {{txtBtnLeft}}
            </button>

            <button [disabled]="btnRightDisable" (click)="onConfirm()" class="btn-ok">
                {{txtBtnRight}}
            </button>

        </div>
    </div>

</div>