hr {
    color: rgb(165, 165, 165);
    height: 0.5px;
}

.container-wrapper {
    width: 30vw;
}

h1 {
    padding: 0;
    margin: 0;
    font-family: 'Sriracha', cursive !important;
    font-size: 1.5rem;
    font-weight: 800;
}

p {
    padding-top: 0.5rem;
    font-size: 1.5em;
    line-height: 1.5;
}

.container-content {
    min-height: 15vh;
}


/*👉.container-btn {
    padding: 0.4rem;
}👈*/

.btn-ok {
    padding: 0.6rem 2.2rem;
    border-radius: 3.125rem;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgb(63, 89, 241);
    color: rgb(63, 89, 241);
    -webkit-border-radius: 3.125rem;
    -moz-border-radius: 3.125rem;
    -ms-border-radius: 3.125rem;
    -o-border-radius: 3.125rem;
    box-shadow: rgba(255, 255, 255, 0) 0px 3px 8px;
}

.btn-ok:hover {
    background-color: rgb(63, 89, 241);
    color: rgb(255, 255, 255);
}

.btn-cancel {
    margin: 0 0.5rem;
    padding: 0.6rem 1.5rem;
    border-radius: 3.125rem;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgb(255, 187, 0);
    color: rgb(255, 187, 0);
    -webkit-border-radius: 3.125rem;
    -moz-border-radius: 3.125rem;
    -ms-border-radius: 3.125rem;
    -o-border-radius: 3.125rem;
    box-shadow: rgba(255, 255, 255, 0) 0px 3px 8px;
}

.btn-cancel:hover {
    background-color: rgb(255, 187, 0);
    color: rgb(255, 255, 255);
}

img {
    width: 3.5rem;
}