<div class="sign-in-staff-wrapper">
    <div class="sign-in-staff-content">

        <div class="sign-in-presentation">
            <img src="assets/imgs/user-and-key.png">
            <h1>เข้าสู่ระบบ</h1>
            <!-- <h1>สำหรับการใช้งานส่วนบุคลากร</h1> -->
            <!-- <h1>สำหรับบุคลากร</h1> -->
        </div>

        <div class="staff-form-content">
            <form [formGroup]="">
                <section class="section-input-ru-email">
                    <!-- <label class="label-input-ru-email">RU-Mail</label> -->
                    <input type="email" class="input-ru-email" placeholder="Enter your-ru-mail@ru.ac.th">
                </section>
                <section class="section-input-password">
                    <!-- <label class="label-input-password">Password</label> -->
                    <input type="password" class="input-password" placeholder="Enter your password">
                </section>
                <div class="button-and-checkbox">
                    <section class="section-btn-sign-in">
                        <button class="btn-sign-in">Sign in</button>
                    </section>
                    <section class="section-remember-staff">
                        <input type="checkbox" class="check-remember-staff">
                        <label class="label-remember-staff">Remember me</label>
                    </section>
                </div>

            </form>
        </div>

    </div>
</div>